@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  
}

.app {
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 10px;
  background: radial-gradient( hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid hsl(229, 25%, 31%);
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 45px;
  line-height: 18px;
}

.score{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;

 
}
.scorebox{

  background: white;
  width:120px;
  color: hsl(229, 25%, 31%);
  margin-right: 10px;
  border-radius: 10px;
}


.text{
  color: hsl(229, 64%, 46%);
  font-size: 24px;
}

.number{
  font-size: 48px;
}

.won{
  color: hsl(138, 80%, 31%);
}

.lost{
  color: hsl(349, 70%, 56%);
}


 .choices{
 
width: 425px;
height: 420px; 
  margin-left: 85px;  
  background-image: url(./icons/bg-pentagon.svg);
  background-repeat: no-repeat;
  
}

.scissors{
  
  background-image: linear-gradient(rgba(242, 171, 38, 0), rgba(236, 169, 34, 0)), linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  position: relative;
  bottom: 40px;
  left: 100px;
}

.rock{
  background-image: linear-gradient(rgba(242, 171, 38, 0), rgba(236, 169, 34, 0)), linear-gradient( hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  position: relative;
  top: 220px;
  right: 75px;
}
  
.paper{
  background-image: linear-gradient(rgba(242, 171, 38, 0), rgba(236, 169, 34, 0)), linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  position: relative;
  top: 50px;
  left: 100px;
}

.lizard{
  background-image: linear-gradient(rgba(242, 171, 38, 0), rgba(236, 169, 34, 0)), linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  position: relative;
  top: 80px;
  right: 10px;
}

.spock{
  background-image: linear-gradient(rgba(242, 171, 38, 0), rgba(236, 169, 34, 0)), linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  position: relative;
  bottom: 95px;
  right: 180px;
}
.choice{
  width: 140px;
  height: 140px;
  border-radius: 100rem;
  border: solid 20px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}   
.buttons{
  display: flex;
  flex-direction: column;

}
.btn{
  background: none;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;

}

.rules{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.close-btn{
 
  background: rgba(255, 255, 255, 0.9);
  color: hsl(229, 25%, 31%);
  position: relative;
 
}



.popup{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1;
  
}

.result{
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-choice{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;

}

.win{
  background:rgba(17, 156, 5, 0.8)
}

.lose{
  background:rgba(214, 0, 54, 0.8)
}

@media screen and (max-width: 470px) {
  .info{
    padding: 0;
    border: none;
  }
.score{
  padding: 5px;
}

.choices{
  width: 350px;
  height: 350px;
  margin-left: 15px;
}
.choice{
  width: 100px;
  height: 100px;
  border-width: 10px;
}
.scissors{
  
  bottom: 30px;
  left: 115px;
}

.rock{
  top: 240px;
  left: 5px;
}
  
.paper{

  top: 75px;
  left: 150px;
}

.lizard{
 
  top: 140px;
  left: 30px;
}

.spock{
 
  bottom: 30px;
  right: 120px;
}

}